.faq {
    padding: 40px 0;
}

.faq-title {
    color: #1D2939;
    font-size: 30px;
    font-weight: 700    ;
    line-height: 38px;
    margin-bottom: 16px;
}

.faq-subtitle {
    color: #1D2939;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}

.faq .accordion-item {
    border: none;
    background-color: #F9FAFB;
    border-bottom: 1px solid #EAECF0;
    padding: 24px 20px;
}

/* .faq .accordion-item {
} */

.faq .accordion-item:has(.accordion-button.collapsed) {
    background-color: #fff;
}

.faq .accordion-button,
.faq .accordion-button:focus {
    color: #1D2939;
    border: none;
    background-color: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 0;
}

.faq .accordion-button:focus {
    box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
    color: #1D2939;
    background-color: inherit;
    box-shadow: none;
}

.accordion-item:last-of-type,
.accordion-item:first-of-type {
    border-radius: 0;
} 

.faq .accordion-body {
    font-size: 16px;
    padding: 16px 0 0;
}

.faq .accordion-button::after {
    font-size: 32px;
    background: none;
    content: "+";
    height: unset;
}

.faq .accordion-button:not(.collapsed)::after {
    background: none;
    content: "-";
    font-size: 32px;
    transform: none;
    height: unset;
}

@media (min-width: 768px) {
    .faq {
        padding: 100px 0;
    }
 
    .faq-title {
        font-size: 48px;
        line-height: 60px;
    }

    .faq-subtitle {
        margin-bottom: 0;
    }

    .faq .accordion-button,
    .faq .accordion-button:focus {
        font-size: 24px;
    }

    .faq .accordion-body {
        font-size: 18px;
    }    

}

.accordion-collapse {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
  }
  .accordion-collapse.expanded {
    opacity: 1;
    max-height: 200px; /* Adjust this value to fit your content */
    transition: opacity 0.9s ease, max-height 0.9s ease;
  }